# API to clone data from kaggle

In [12]:
!kaggle datasets download -d kazanova/sentiment140

Dataset URL: https://www.kaggle.com/datasets/kazanova/sentiment140

  0%|          | 0.00/80.9M [00:00<?, ?B/s]
  1%|          | 1.00M/80.9M [00:01<02:13, 627kB/s]
  2%|▏         | 2.00M/80.9M [00:01<01:06, 1.24MB/s]
  4%|▎         | 3.00M/80.9M [00:02<00:44, 1.82MB/s]
  5%|▍         | 4.00M/80.9M [00:02<00:34, 2.33MB/s]
  6%|▌         | 5.00M/80.9M [00:02<00:28, 2.78MB/s]
  7%|▋         | 6.00M/80.9M [00:02<00:25, 3.07MB/s]
  9%|▊         | 7.00M/80.9M [00:03<00:22, 3.50MB/s]
 10%|▉         | 8.00M/80.9M [00:03<00:21, 3.63MB/s]
 11%|█         | 9.00M/80.9M [00:03<00:19, 3.92MB/s]
 12%|█▏        | 10.0M/80.9M [00:03<00:18, 3.97MB/s]
 14%|█▎        | 11.0M/80.9M [00:04<00:17, 4.10MB/s]
 15%|█▍        | 12.0M/80.9M [00:04<00:15, 4.55MB/s]
 16%|█▌        | 13.0M/80.9M [00:04<00:16, 4.33MB/s]
 17%|█▋        | 14.0M/80.9M [00:04<00:17, 4.12MB/s]
 19%|█▊        | 15.0M/80.9M [00:05<00:17, 3.89MB/s]
 20%|█▉        | 16.0M/80.9M [00:05<00:15, 4.54MB/s]
 21%|██        | 17.0M/80.9M [00:05<00:12, 5.22MB/s]
 22%|██▏       | 18.0M/80.9M [00:05<00:10, 6.11MB/s]
 23%|██▎       | 19.0M/80.9M [00:05<00:09, 6.98MB/s]
 25%|██▍       | 20.0M/80.9M [00:05<00:08, 7.60MB/s]
 27%|██▋       | 22.0M/80.9M [00:05<00:06, 9.70MB/s]
 30%|██▉       | 24.0M/80.9M [00:06<00:04, 12.0MB/s]
 32%|███▏      | 26.0M/80.9M [00:06<00:04, 13.2MB/s]
 35%|███▍      | 28.0M/80.9M [00:06<00:04, 12.9MB/s]
 37%|███▋      | 30.0M/80.9M [00:06<00:04, 12.9MB/s]
 40%|███▉      | 32.0M/80.9M [00:06<00:04, 12.1MB/s]
 42%|████▏     | 34.0M/80.9M [00:06<00:03, 12.6MB/s]
 44%|████▍     | 36.0M/80.9M [00:06<00:03, 13.8MB/s]
 47%|████▋     | 38.0M/80.9M [00:07<00:03, 14.6MB/s]
 49%|████▉     | 40.0M/80.9M [00:07<00:02, 14.5MB/s]
 52%|█████▏    | 42.0M/80.9M [00:07<00:02, 15.0MB/s]
 54%|█████▍    | 44.0M/80.9M [00:07<00:02, 15.9MB/s]
 57%|█████▋    | 46.0M/80.9M [00:07<00:02, 17.1MB/s]
 59%|█████▉    | 48.0M/80.9M [00:07<00:02, 17.0MB/s]
 63%|██████▎   | 51.0M/80.9M [00:07<00:01, 16.9MB/s]
 67%|██████▋   | 54.0M/80.9M [00:08<00:01, 16.0MB/s]
 69%|██████▉   | 56.0M/80.9M [00:08<00:02, 13.1MB/s]
 72%|███████▏  | 58.0M/80.9M [00:08<00:01, 13.0MB/s]
 74%|███████▍  | 60.0M/80.9M [00:08<00:01, 14.0MB/s]
 77%|███████▋  | 62.0M/80.9M [00:08<00:01, 14.0MB/s]
 79%|███████▉  | 64.0M/80.9M [00:08<00:01, 13.0MB/s]
 82%|████████▏ | 66.0M/80.9M [00:09<00:01, 12.3MB/s]
 84%|████████▍ | 68.0M/80.9M [00:09<00:01, 13.2MB/s]
 87%|████████▋ | 70.0M/80.9M [00:09<00:00, 11.9MB/s]
 89%|████████▉ | 72.0M/80.9M [00:09<00:00, 12.3MB/s]
 91%|█████████▏| 74.0M/80.9M [00:09<00:00, 13.7MB/s]
 94%|█████████▍| 76.0M/80.9M [00:09<00:00, 15.0MB/s]
 96%|█████████▋| 78.0M/80.9M [00:10<00:00, 15.4MB/s]
 99%|█████████▉| 80.0M/80.9M [00:10<00:00, 15.3MB/s]
100%|██████████| 80.9M/80.9M [00:10<00:00, 8.31MB/s]

License(s): other
Downloading sentiment140.zip to d:\Sentiment-analysis

In [13]:
from zipfile import ZipFile
with ZipFile('sentiment140.zip', 'r') as zip:
    zip.extractall()

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to C:\Users\Prabhjot
[nltk_data]     Singh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
dataset=pd.read_csv('training.1600000.processed.noemoticon.csv',encoding='ISO-8859-1',header=None)

In [17]:
dataset.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [18]:
dataset.columns=['target','ids','date','flag','user','text']

In [19]:
dataset.head()

,target,ids,date,flag,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [20]:
dataset.target.value_counts()

target
0    800000
4    800000
Name: count, dtype: int64

In [21]:
dataset.target=dataset.target.replace({4:1})

In [22]:
dataset.target.value_counts()

target
0    800000
1    800000
Name: count, dtype: int64

0 --> Negative <br> 1--> positive

In [23]:
def stemming(text):
    text=re.sub('[^a-zA-Z]',' ',text)
    text=text.lower()
    text=text.split()
    ps=PorterStemmer()
    text=[ps.stem(word) for word in text if not word in set(stopwords.words('english'))]
    text=' '.join(text)
    return text

In [ ]:
dataset['text_stemmed']=dataset['text'].apply(stemming)